#section_clients {
	margin-top: 140px;

	.banner {
		padding: 128px 48px;
		position: relative;


		.bg-parallax {
			position: absolute;
			top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
			width: 100%;
			height: 100%;
		    z-index: -1;

			.bg {
			    object-fit: cover;
			    display: block;
			    width: 100%;
			    height: 100%;
			}
		}
	}
}