#section_welcome {
	width: 100%;
	height: calc(100vh - 0px);
	min-height: 820px;
	display: flex;
	align-items: center;
	position: relative;

	.welcome-text {
		h1 {
			font-size: 4rem;
			line-height: 1.2;
			font-weight: 500;

			.underline {
				position: relative;

				&:after {
					position: absolute;
					content: "";
					display: block;
					height: 12px;
					left: 0;
					right: 0;
					bottom: 4px;
					background-color: #2298ff;
					opacity: .5;
					z-index: -1;
				}
			}
		}
		.logo {
			position: relative;
			top: 2px;
			height: 37px;
		}
		.features {
			margin-top: 40px;
			display: flex;
			// padding-left: 8px;
		}
		.feature {
			position: relative;
			font-weight: 600;
			font-size: 1.16rem;

			&:not(:last-child) {
				margin-right: 30px;
			}
			// &:before {
			// 	content: "";
			// 	display: block;
			// 	position: absolute;
			// 	width: 28px;
			// 	height: 28px;
			// 	background-color: $blue;
			// 	z-index: -1;
			// 	top: -2px;
			// 	left: -8px;
			// 	border-radius: 999px;
			// }
		}
		.desc {
			font-size: 1.125rem;
			line-height: .5;
			margin-top: 50px;
			color: #464646;

			.gift {
				width: 28px;
				position: relative;
				top: 8px;
			}
			b {
				color: #000;
				font-weight: 500;
			}
		}
		.welcome-action {
			display: inline-block;
			margin-top: 50px;
			background-color: $blue;
			color: #fff;
			border-radius: 10px;
			padding: 21px 30px;
			font-size: 1.2rem;
			font-weight: 500;
			animation: effect 3s ease infinite 1s;

			@keyframes effect {
				0% {
					box-shadow: 0 0 0 0 $blue;
				}
				30% {
					box-shadow: 0 0 0 20px rgba($blue, 0);
					// transform: translateY(0);
				}
			}
		}
	}
	.right-side {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: -1;

		.image-wrapper {
			width: 85vh;
			min-width: 697px;
			position: relative;

			&:before {
				content: "";
				display: block;
				padding-top: 100%;
			}
			.notification-wrapper {
				position: absolute;
				z-index: 2;

				&:nth-of-type(1) {
					bottom: 37px;
					left: 150px;

					.notification {
						animation-duration: 4s;
					}
				}
				&:nth-of-type(2) {
					bottom: 152px;
					right: 40px;

					.notification {
						animation-duration: 5s;
					}
				}
				&:nth-of-type(3) {
					bottom: 262px;
					left: 65px;

					.notification {
						animation-duration: 4.5s;
					}
				}
			}
			.notification {
				height: 70px;
				padding: 0 25px;
				border-radius: 10px;
				background-color: rgba(#fff, .9);
				-webkit-backdrop-filter: blur(20px) saturate(180%);
				backdrop-filter: blur(20px) saturate(180%);
				display: flex;
				flex-direction: column;
				justify-content: center;
				animation: floating 5s ease-in-out infinite;

				@keyframes floating {
					0% {
						transform: translateY(-15px);
					}
					50% {
						transform: translateY(0px);
					}
					100% {
						transform: translateY(-15px);
					}
				}
			}
			.notification-title {
				font-weight: 500;
				color: #164e7e;
			}
			.notification-desc {
				margin-top: 10px;
				color: #2d9dff;
			}
		}
		.decorative-dots {
			position: absolute;
			width: 250px;
			left: -115px;
			bottom: -53px;
			z-index: 0;
		}
		.image {
			background-image: url('../img/welcome-bg.png');
			background-position: 10% center;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
		}
	}
}