.section_header {
	transition: background-color .3s ease, backdrop-filter .3s ease;

	.social-image {
		opacity: .7;
		transition: opacity .2s ease;
	}

	.social-link {
		&:hover {
			.social-image {
				opacity: 1;
			}
		}
	}
	&.scrolled {
		background-color: rgba(#fff, 85%);
		backdrop-filter: blur(20px) saturate(200%);
	}
}