@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-Thin'),
		url('../font/HelveticaNeueCyr-Thin.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-UltraLight'),
		url('../font/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-Light'),
		url('../font/HelveticaNeueCyr-Light.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-Roman'),
		url('../font/HelveticaNeueCyr-Roman.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-Roman.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-Medium'),
		url('../font/HelveticaNeueCyr-Medium.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-Bold'),
		url('../font/HelveticaNeueCyr-Bold.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-Heavy'),
		url('../font/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-Heavy.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-Black'),
		url('../font/HelveticaNeueCyr-Black.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: block;
}


@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-ThinItalic'),
		url('../font/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-UltraLightItalic'),
		url('../font/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-UltraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-LightItalic'),
		url('../font/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-Italic'),
		url('../font/HelveticaNeueCyr-Italic.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-MediumItalic'),
		url('../font/HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-BoldItalic'),
		url('../font/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-BoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-HeavyItalic'),
		url('../font/HelveticaNeueCyr-HeavyItalic.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-HeavyItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: block;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: local('HelveticaNeue-BlackItalic'),
		url('../font/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
		url('../font/HelveticaNeueCyr-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: block;
}