
html {
	font-family: 'TTNorms', sans-serif;
}

body {
	background-color: $bodyBg;
}

.container {
	width: 100%;
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 20px;
}

.color-red {
	color: $red;
}
.text-blue {
	color: $blue;
}

.section-title {
	text-align: center;
	margin: 40px 0;

	h2 {
		font-size: 2.5rem;
		font-weight: 600;
		color: #373838;
	}
}

@import "./sections/header.scss";